[submodule "cnn_dailymail_processor"]
	path = cnn_dailymail_processor
	url = https://github.com/artmatsak/cnn-dailymail
[submodule "yellowfin"]
	path = yellowfin
	url = https://github.com/JianGoForIt/YellowFin_Pytorch
[submodule "optimizers/ranger"]
	path = optimizers/ranger
	url = https://github.com/lessw2020/Ranger-Deep-Learning-Optimizer
